@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  color: black;
  min-width: 900px;  
}

#root {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.material-icons {
  margin: 10px 20px 10px auto;
  cursor: pointer;
  align-self: flex-end;
}

.container {
  width: 100%;
  margin: 0 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}

